h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

hr{
    border-bottom: 1px solid #b6b6b6;
    width: 100%;
    border-top: 0;
    margin-top: 50px;
}

h3.headline{
    margin-bottom: 20px;
}
 img#carimage{
     margin-top: 20px;
 }

.was-validated .form-control:valid~.invalid-feedback {
     display: none;      
}

.fade-enter-active, .fade-leave-active {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

#app {
  font-family: 'Roboto Condensed sans-serif !imporatant',  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

img.logo-header{
    display: block;
    margin: 0 auto;
}

.dropdown select{
    width: 100%;
    border: 1px solid transparent;
    list-style: none;
    width: 100%;
    position: relative;
    z-index: 9;
    outline: 0px;
    height: 49px;
    line-height: 13px;
    padding-left: 10px;
    background: #F7F7F7;
}

.dropdown select option{
   z-index: 2;
    background: #F7F7F7;
    cursor: pointer;
    padding-left: 21px;
    line-height: 48px;
    padding-right: 21px;
    -webkit-transition: 0s ease-out;
    -moz-transition: 0s ease-out;
    -o-transition: 0s ease-out;
    transition: 0s ease-out;
    outline: 0px;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label{
    display: inherit;
    padding: 0;
    padding-left: 0;
    color: #000;
    font-size: 0;
    line-height: 0;
}

input[type="checkbox"] + label i{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-left: 0px;
    border: 1px solid #888888;
    background-color: #fff;
    vertical-align: top;
    box-sizing: border-box;
}
.mctatop{
    margin-top: 40px;
    display: flex;
}

.terms section{
    margin-left: 20px;
}

#content .contactinfo .form-group{
    padding-bottom: 20px;
    margin: 0;
    position: relative;
}

#content .contactinfo label{
    margin-bottom: 10px;
    color: #000000;
    float: left;
}

#content .contactinfo .form-control{
    border: 1px solid #C4C6CA;
    box-shadow: none;
    border-radius: 0;
    color: #888888;
    padding-left: 18px;
    padding-right: 18px;
    height: 40px;
    line-height: 30px;
}

div.selectSign::before, span.required::before, div.selectSign::after, span.required::after, #content .contactinfo .form-group::before, #content .contactinfo .form-group::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
    border-color: transparent;
    border-style: solid;
    z-index: 999999;
}

#content .contactinfo .form-group::before, #content .contactinfo .form-group::after{
    top: 39px;
    left: 5px;
    z-index: 99;
}
div.selectSign::after, span.required::after, #content .contactinfo .form-group::after{
    border-radius: 0;
    border-width: 3px;
    border-left-color: #804033;
    border-top-color: #804033;
}

#content .contactinfo .nomandate::before, #content .contactinfo .nomandate::after{
    border: 0px;
    z-index: 999999;
}

div.selectSign::before, span.required::before, #content .contactinfo .form-group::before{
    border-width: 0.22em;
    border-left-color: #ccc;
    border-top-color: #ccc;
}

span.required{
    position: relative;
    padding: 15px 0 0 10px;
    text-transform: uppercase;
    font-size: 14px;
    color: #804033;
    z-index: 9;
}

button.primary{
    margin: 40px 20px;
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #000000;
    min-width: 350px;
    outline: 0;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.modal-header .close{
    outline: 0;
    cursor: pointer;
}

div.row{
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #C4C6CA;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    color: #888888;
    padding-left: 18px;
    padding-right: 18px;
    height: 40px;
    line-height: 30px;
}

.modal.fade{
    top: 150px;
}

.top5 { margin-top:5px;
}
.top7 { margin-top:7px;
}
.top10 { margin-top:10px;
}
.top15 { margin-top:15px;
}
.top17 { margin-top:17px;
}
.top30 { margin-top:30px;
}
